<header>
    <div id="header" class="wrapper">
    	<h1>Fedora Taiwan Community</h1>
    	<div class="social">
    		<a href="https://www.facebook.com/groups/543559052337419/" class="facebook" title="Facebook 社團">Facebook</a>
    		<a href="https://plus.google.com/communities/107356588952206573502" class="plus" title="Google+ 社群">Google+</a>
    	</div>
    </div>
    <nav>
		<input type="checkbox" id="menu-icon">
        <label for="menu-icon"><img src="{{ site.baseurl }}/images/menu.svg" alt="menu-icon" style="height: 1.5em;width: 1.5em;"></label>
    	<ul class="wrapper" id="navigation">
    		<li><a href="{{ site.baseurl }}/">主頁</a></li>
    		<li><a href="{{ site.baseurl }}/guide">入門</a></li>
    		<li><a href="{{ site.baseurl }}/tutorial">文件</a></li>
    		<li><a href="{{ site.baseurl }}/community">社群</a></li>
    		<li><a href="{{ site.baseurl }}/donate">捐款</a></li>
    	</ul>
    </nav>
</header>
