#menu-icon {
	display: none;
}

@media screen and (max-width: 850px) {
	.post_wrapper {
		display: block;
		margin: 0%;
		width: 100%;
	}
}

@media screen and (min-width: 506px) {
	nav > label  {
	    display: none;
	}
}


@media screen and (max-width: 506px) {
	body {
		max-width: 100vw;
		overflow-x: hidden;
	}
	#header  .social {
		position: initial;
		line-height: 0;
		text-align: right;
	}

	nav {
	    min-height: 2.5em;
	    height:auto;
	    width: 100%;

	    label {
	        display: block;
	        text-align: right;
	        img {
				margin: .5em 1em;
				&:hover {
					color: #fcf7d5;
					text-shadow: 1.5px 1.5px black;
				}
			}
	    }

		ul#navigation {
			position: absolute;
			right: -100%;
	        display: block;
			width: 100%;
			padding: 0 0 .7em;
			height: auto;
			background-color: #1E4A88;
	        line-height: 1.5em;
			box-shadow: 0 2px 2px #ccc;
			transition-duration: .3s;

	        li {
	            display: inline-block;
	            margin: 0;
	            width: 100%;

	            a {
	                display: block;
	                padding: .5em 1em;
	            }
	        }
		}

	    input:checked {
			~ label img {
			}
			~ ul#navigation {
				right: 0;
		    }
		}

	}
}

@media screen and (max-width: 363px) {
	#header h1 {
		font-size: .85rem;
	}
	footer:before {
		padding: .5rem 2rem;
		height: 2rem;
	}
}
